.more-container {
    background-color: #76b5c5;
}

.button-title {
	background: none;
	color: inherit;
	border: none;
	padding: 3rem 0;
    width: 100%;
	font: inherit;
	cursor: pointer;
	outline: inherit;
    font-family: 'Montserrat', sans-serif;
    color: white;
    letter-spacing: 1px;
    font-size: 3rem;
    font-weight: 600;
    text-transform: uppercase;
}

@media screen and (max-width: 966px) {
    .button-title {
        font-size: 1.2rem;
        padding: 1.5rem 0;
    }
}

@media only screen and (max-width: 768px) {
    .button-title {
        font-size: 1.2rem;
        padding: 1.5rem 0;
    }
}