.intro-container {
    height: 100vh;
    position: relative;
}

.intro-container img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    background-position: center;
}

.font-mont {
    font-family: 'Montserrat', sans-serif;
}

.font-playfair {
    font-family: 'Playfair Display', serif;
}

.intro-text-container {
    position: absolute;
    text-align: center;
    top: 30%;
    left: 0;
    right: 0;
    margin: auto;
}

.intro-text-container h2 {
    color: white;
    letter-spacing: 3px;
    margin-bottom: 1%;
    font-size: 5rem;
    font-weight: 400;
}

.intro-text-p {
    margin-top: 1%;
}

.intro-text-container p {
    color: white;
    letter-spacing: 3px;
    font-size: 2rem;
    text-align: center;
    margin-top: 2%;
}

.intro-container-horizontal {
    position: relative;
}

.horizontal-hr-right {
    position: absolute;
    left: 50%;
}

.horizontal-hr-left {
    position: absolute;
    right: 50%;
}

@media screen and (max-width: 768px) {
    .intro-text-container h2 {
        color: white;
        letter-spacing: 2px;
        margin-bottom: 1%;
        font-size: 2rem;
        font-weight: 400;
    }
    .intro-text-container p {
        color: white;
        letter-spacing: 2px;
        font-size: 1rem;
        text-align: center;
        margin-top: 2%;
    }
}

@media screen and (max-height: 768px) {
    .intro-text-container h2 {
        color: white;
        letter-spacing: 2px;
        margin-bottom: 1%;
        font-size: 2rem;
        font-weight: 400;
    }
    .intro-text-container p {
        color: white;
        letter-spacing: 2px;
        font-size: 1rem;
        text-align: center;
        margin-top: 2%;
    }
}

@media only screen and (max-width: 768px) {
    .flex-row_2 {
        flex-direction: column;
        justify-content: center;
    }

}